name: SGLang Benchmark Workflow

on:
  pull_request:
    branches: [ dev/perf ]
  workflow_dispatch:
  
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  benchmark:
    runs-on: sglang-mi308-8gpu
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
    
      - name: Download SGLang Image
        run: |
          docker pull rocm/sgl-dev:v0.5.3.post1-rocm700-mi30x-20251011
    
      - name: Generate Dockerfile
        run: |
          cat <<'EOF' > Dockerfile.mod
          FROM rocm/sgl-dev:v0.5.3.post1-rocm700-mi30x-20251011

          RUN echo "=== Aiter version BEFORE uninstall ===" && pip show aiter || true
          RUN pip uninstall -y aiter
          RUN pip install --upgrade "pybind11>=3.0.1"
          RUN pip show pybind11

          RUN git clone https://github.com/ROCm/aiter.git /aiter && \
            cd /aiter && \
            git checkout dev/perf && \
            git submodule sync && git submodule update --init --recursive && \
            python3 setup.py develop

          RUN echo "=== Aiter version AFTER installation ===" && pip show aiter || true

          RUN echo "=== SGLang version BEFORE uninstall ===" && pip show sglang || true

          RUN pip uninstall -y sglang
          RUN git clone -b dev/perf https://github.com/zejunchen-zejun/sglang.git /sglang && \
              cd /sglang && \
              pip install --upgrade pip && \
              pip install "transformers>=4.57.0" && \
              cd sgl-kernel && \
              python setup_rocm.py install

          RUN echo "=== SGLang version AFTER installation ===" && pip show sglang || true
          EOF

      - name: Show dockerfile
        run: |
          cat Dockerfile.mod 

      - name: Build Docker image
        run: |
          docker build --no-cache --network=host -t "sglang_test:ci" -f Dockerfile.mod .
    

      - name: Start CI container
        run: |
          echo "Clean up containers..."
          docker ps -aq -f name=sglang_test | xargs -r docker stop | xargs -r docker rm

          if [ -f "/etc/podinfo/gha-render-devices" ]; then
            DEVICE_FLAG=$(cat /etc/podinfo/gha-render-devices)
          else
            DEVICE_FLAG="--device /dev/dri"
          fi

          echo "Starting container: sglang_test:ci"
          docker run -dt --user root --device=/dev/kfd $DEVICE_FLAG \
          -v "/sglang:/sglang-checkout" \
          --ipc=host --group-add video \
          --shm-size 32g \
          --cap-add=SYS_PTRACE \
          -v /models:/models \
          --security-opt seccomp=unconfined \
          -w /sglang-checkout \
          --name sglang_test \
          sglang_test:ci

      - name: Launch the server
        timeout-minutes: 120
        run: |
          set -ex
          sed -i 's/ci_sglang/sglang_test/g' scripts/ci/amd_ci_exec.sh
          bash scripts/ci/amd_ci_exec.sh pip show aiter || true
          bash scripts/ci/amd_ci_exec.sh lauch_qwen3vl_fp8_ptpc.sh

      - name: Clean Up
        if: always()
        run:
          docker exec -u root sglang_test bash -c "rm -rf /sglang-checkout/sgl-kernel; rm -rf /sglang-checkout/python"